.app-nav{
  display: flex;
}
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.nav-elements{
  display: flex;
  list-style: none;
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px;
 
}

.ele{
  justify-content: space-evenly;
  text-decoration: none;
}
.imp{
  flex:3;
}
.con{
  flex:1;
}
.dog{
  flex:1;
}